* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #0f0f0f;
    color: #eaeaea;
    overflow-x: hidden;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background: rgba(43, 42, 42, 0.8);
  }
  
  .logo {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left:0px;
  }
  
  .navbar a {
    font-size: 18px;
    color: #dbd1d1;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: cyan;
  }
  
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 170px 10%;
    background: url('background-image.jpg') no-repeat center/cover;
  }
  
  .home-content {
    max-width: 600px;
    text-align: center;
  }
  
  .home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ddd;
  }
  
  .home-content h1 {
    font-size: 50px;
    color: cyan;
    margin: 10px 0;
  }
  
  .home-content h2 {
    font-size: 28px;
    color: #ddd;
  }
  
  .home-content h2 span {
    color: cyan;
  }
  
  .home-content p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .home-sci a {
    font-size: 24px;
    color: #bbb;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .home-sci a:hover {
    color: cyan;
  }
  
  .btn-box {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: cyan;
    color: #000;
    
    font-weight: 600;
    text-decoration: none;
    border-radius: 15px;
    transition: background 0.3s;
  }
  
  .btn-box:hover {
    background: #0d6efd;
    color: #fff;
  }
  